{% extends 'user/base.html' %}

{% block title %}
    Password Reset
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <style>
        #login {
            box-shadow: 10px 10px 10px rgba(0,150,150,0.5);
            margin-top:15%;
            margin-bottom:15%;
            padding-left:15%;
            padding-right:15%;
            padding-top:5%;
            padding-bottom:5%;
        }
    </style>

    <div id='password-change'>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <button class="submit form-group btn btn-outline-info">
                Request Password Reset
            </button>
        </form>
    </div>
{% endblock %}
